@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1f253d;
  font-family: "Abril Fatface", cursive;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

::-webkit-scrollbar {
  width: 3px;
}
